# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/xcode/package.xcworkspace/xcuserdata/
.build/
Packages/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDEs
*.swp
*.swo
*~
.idea/
.vscode/

# Archives
*.xcarchive
